<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="SystemUrl" value="https://devcmshirota.azurewebsites.net/" />
    <add key="loja" value="Hirota" />
    <add key="Urlsite" value="https://hirota.com.br/" />

    <!--server keys-->
    <add key="TwilioAccSid" value="ACcc924682a507a760496c6df07e08cdaa" />
    <add key="TwilioAuthToken" value="a511f9d8b8e4f07fc695e4f9804290d9" />
    <add key="TwilioPhoneNumber" value="+18047938654" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IDGuid" value="53c5ab8c-b7ee-4ed3-99d6-t4sc4rfgthvf" />
    <add key="Key" value="Push@dna2020" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="Insights_Key" value="43f985a4-b30f-4d9e-a8ce-baa08b34685a" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="CertificatePassword" value="Dn@$h0pper" />
    <add key="GcmUrl" value="https://fcm.googleapis.com/fcm/send" />
    
    <!--Push IOS -->
    <!--Hirota-->
    <add key="PushCertificateSandboxHirota" value="Push\Sandbox\aps-hirota-dev.p12" />
    <add key="PushCertificateProductionHirota" value="Push\Production\aps-hirota-prod-2.p12" />
    
    <!--Dengo-->
    <add key="pushcertificateSandboxDengo" value="push\sandbox\aps-dengo-dev.p12" />
    <add key="PushCertificateProductionDengo" value="Push\Production\aps-dengo-prod.p12" />
    
    <!--Muffato-->
    <add key="pushcertificateSandboxMuffato" value="push\sandbox\aps-muffato-dev.p12" />
    <add key="PushCertificateProductionMuffato" value="Push\Production\aps-muffato-prod.p12" />
    
    <!--Wake Me Up-->
    <add key="pushcertificateSandboxWake Me Up" value="push\sandbox\aps-wup-dev.p12" />
    <add key="PushCertificateProductionWake Me Up" value="Push\Production\aps-wup-prod.p12" />

    <!--Push Android-->
    <!--Hirota-->
    <add key="GcmAuthorizationHirota" value="AIzaSyD9ylAIbMQR1a5F-S01pSwko0iq5fy9CUQ" />
    <add key="GcmSenderIdHirota" value="42307657578" />
    <add key="applicationIDHirota" value="4972966626393067486" />
    
    <!--Dengo-->
    <add key="GcmAuthorizationDengo" value="AIzaSyAJB9D5pXqea8Ojth1qyCrG-aIUj7v5R0U" />
    <add key="GcmSenderIdDengo" value="323741283554" />
    <add key="applicationIDDengo" value="4975986082836074456" />
    
    <!--Muffato-->    
    <add key="GcmAuthorizationMuffato" value="AIzaSyBFPmOnVZZZ-qoKZmldijRifv2eTI0FguM" />
    <add key="GcmSenderIdMuffato" value="957265181486" />
    <add key="applicationIDMuffato  " value="4975813774297458631" />
    
    <!--Wake Me Up-->    
    <add key="GcmAuthorizationWake Me Up" value="AIzaSyAhjsJMz8zRyPI7gRQNSEqF525DVt6jS_o" />
    <add key="GcmSenderIdWake Me Up" value="401030203363" />
    <add key="applicationIDWake Me Up" value="4973606733772844519" />

    
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>